# === GLOBAL ===
*.log
*.pyc
*.pyo
*.pyd
*.swp
*.DS_Store
*.idea/
*.vscode/
__pycache__/
.env
.env.*

# === PYTHON / BACKEND ===
venv/
dist/
build/
*.egg-info/
.mypy_cache/
.coverage
htmlcov/
.tox/
poetry.lock
server/notebooks/cache/

# === DATABASE ===
*.db
*.sqlite3
*.sql