.background {
    height: 100vh;
    width: 100vw;
    background:
        radial-gradient(circle 300px at left, #FF00004D, #00000000),
        linear-gradient(to top,
            #0a4214 0%,
            #a897974D 40%,
            #120e0e 90%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}